EACRipper/EACRipper.vcxproj.user
EACRipper/Debug
EACRipper/Release
EACRipper/x64

UUIDGen/UUIDGen.vcxproj.user
UUIDGen/Debug
UUIDGen/Release
UUIDGen/x64

InoutWave/InoutWave.vcxproj.user
InoutWave/Debug
InoutWave/Release
InoutWave/x64

Debug
Release
x64
ipch

EACRipper.opensdf
EACRipper.sdf
EACRipper.suo